use (
	./generics
	./bufferpool
	./context
	./cryptography
	./embedfile
	./filemanipulation
	./jsonmodule
	./pattern
	./pattern/builder
	./logging
	./mapping
	./mapping/memorysimulation
	./mathoperation
	./routine
)

go 1.21.4
